.pull-left{:style=>"width:100%"}
  .pull-left{:style=>"width:260px;margin-left:20px;"}
    %h3.pull-left="Knock Knock - Who's there?"
    %H4.pull-left="Click on yourself"
  %ul#us.pull-left.unstyled{:style=>"padding:5px"}
    %li#ara.pull-left{:style=>"width:150px;margin-left:20px;margin-right:20px"}
      %a{:href=>"#", :title=>"This is me"}
        = image_tag "/ara.jpg", :style=>"width:100%;height:100%;border-radius:10px; box-shadow: 0 0 6px black;", :class=>"pull-left"
    %li#shuiab.pull-left{:style=>"width:150px;margin-left:20px;margin-right:20px"}
      %a{:href=>"#", :title=>"This is me"}
        = image_tag "/shuiab.jpg", :style=>"width:100%;height:100%;border-radius:10px; box-shadow: 0 0 6px black;", :class=>"pull-left"
    %li#me.pull-left{:style=>"width:150px;margin-left:20px;margin-right:20px"}
      %a{:href=>"#", :title=>"This is me"}
        = image_tag "/me.jpg", :style=>"width:100%;height:100%;border-radius:10px; box-shadow: 0 0 6px black;", :class=>"pull-left"
  %ul#notUs.pull-left.unstyled{:style=>"padding:5px"}
    %li.pull-left{:style=>"width:150px;margin-left:20px;margin-right:20px"}
      %a.btn.pull-left{:href=>"#newNote", :role=>"button", "data-toggle"=>"modal", :style=>"width:150px;height:150px;padding:0;"}
        %p.pull-left{:style=>"width:100%;margin-top:55px;"}="New Note"

%ul#notes_container.pull-left{:style=>"width:800px;"}
  - unless @notes.blank?
    - @notes.each do |note|
      %li.pull-left{:style=>"width:680px;padding:10px;background-color:#e1e1e1;border-radius:10px;margin-top:10px;"}
        - if note.user_id == 1
          = image_tag "/ara.jpg", :style=>"width:130px;height:130px;border-radius:10px;box-shadow:0px 0px 5px 0px black", :class=>"pull-left"
        - if note.user_id == 2
          = image_tag "/shuiab.jpg", :style=>"width:130px;height:130px;border-radius:10px;box-shadow:0px 0px 5px 0px black", :class=>"pull-left"
        - if note.user_id == 3
          = image_tag "/me.jpg", :style=>"width:130px;height:130px;border-radius:10px;box-shadow:0px 0px 5px 0px black", :class=>"pull-left"
        .pull-left{:style=>"margin-left:20px;width:450px;"}
          .pull-left{:style=>"width:100%"}
            %h5.pull-left{:style=>"margin-left:10px;"}="WHY: #{note.note_text_why }"
            %h4.pull-right="Task Priority: #{note.task_priority}"
          %p.pull-left{:style=>"margin-left:10px;"}
            - user = ""
            - if note.user_id == 1
              - user = "Ara" 
            - if note.user_id == 2
              - user = "Shuiab"
            - if note.user_id == 3
              - user = "Sudi"
            ="#{note.note_text_what unless note.note_text_what.blank?} - #{user}"

= render :partial => "new_note"